{% set formbuilder=app('form') %}
{% set htmlbuilder=app('html') %}
{{ formbuilder.open(form|merge({'class':'form--hor'}))|raw }}
{% if token %}
    {{ formbuilder.token()|raw }}
{% endif %}
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
{% for fieldset in fieldsets %}
    <fieldset {{ htmlbuilder.attributes(fieldset.attributes ?: [])|raw }}>
        {% if fieldset.name %}
            <legend>{{ fieldset.name }}</legend>
        {% endif %}
        {% for control in fieldset.controls() %}
            <div class="form-block {{control.getBlock('class')}}" role="{{control.getBlock('role')}}">
                {% include 'antares/foundation::layouts.antares.partials.form.horizontal._'~control.type|replace({':': '_'}) with {control: control} %}
                {% if control.inlineHelp|length>1 or control.help|length>1 %}
                    {% include 'antares/foundation::layouts.antares.partials.form.horizontal._description' %}             
                {% endif %}
            </div> 
        {% endfor %}
    </fieldset>
{% endfor %}
{% if buttons is not empty %}
    <div class="app-content__footer">
        <div class="btn-group">
            {% for button in buttons %}
                {{ button.getField(row, button, [])|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{{ formbuilder.close()|raw }}
