<div class="type--label">
    <div class="datarow__left ff-cw contains-id">
        <span>#{{ model.id }}, {{ model.name|raw }}, {{ model.label|raw }}</span>
    </div>
    <div class="datarow__right">
        <span>{{ model.types.name }} {{ model.types.type }}</span>        
    </div>
</div>